.wrapper
  // Start Header
  #header
  // End Header
  // Page Content
  #page-content
    .container-404
      .container
        .row
          .col-md-12.col-sm-12
            .text-404
              .col-lg-4.col-md-offset-2.col-md-5.col-sm-offset-0.col-sm-6
                h1 404
              .col-md-4.col-sm-6.no-page
                span.sorry Sorry, no page Found!
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever go to the 
                  a(href='index_v_1.html') main page
                  | .
  // end Page Content
  // Start Footer
  #footer
  // End Footer
