extends layout

block content
  .wrapper
    // Start Header
    #header
    // End Header
    // Page Content
    #page-content
      .container-404
        .container
          .row
            .col-md-12.col-sm-12
              .text-404
                .col-lg-4.col-md-offset-2.col-md-5.col-sm-offset-0.col-sm-6
                  h1= status
                .col-md-4.col-sm-6.no-page
                  span.sorry Sorry, that page no longer exists!
                  p
                    | Head to our 
                    a(href='/houses') listings page 
                    | to view other properties.
    // end Page Content
    // Start Footer
    #footer
    // End Footer
