.wrapper
  // Start Header
  #header
  // End Header
  // Page Content
  #page-content
    .container
      ol.breadcrumb
        li
          a(href='index_v_1.html') Home
        li.active Thank You!
    .container
      .thank_you_block.col-sm-8.col-sm-offset-2
        h1 Thank you for your submission!
        h5.team-color
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod quam sapien
        a.link-arrow(href='user_profile_(vertical).html#profile') Go to profile